body {
    background-color: antiquewhite
}
.clock {
    width: 550px;
    height: 150px;

    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clock div{
    position: relative;
    background-color: azure;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: #202020;
    border-radius: 5px;
}